:root {
  --branco: #ffffff;
  --cinza: #c0c0c0;
  --cinza-claro: #f9f9f9;
  --botao: #167bf7;
  --cor-de-fundo: #00030c;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco);
}

.container {
  height: 100vh;
}
