.principal {
  background-image: url("/src/image/Background.svg");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.combo {
  margin:0 6rem;
}

.combo__texto {
  font-size: 28px;
  font-weight: 700;
}

.combo__imagem {
  margin: 1rem 0 2rem 0;
}

.container__botao {
  background-color: var(--botao);
  display: block;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco);
}

.combo__aviso {
    color: var(--cinza);
    font-size: 12px;
}

.secundario {
  align-items: center;
  margin: 10rem
}

.secundario__imagem {
  width: 80%;
}

.descricao {
  padding: 2rem;
}

.descricao__titulo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.descricao__texto {
  color: var(--cinza-claro);
}

.descricao__botao {
  display: inline-block;
  margin-top: 1rem;
}
